@model AbiturientServer.PL.MVC.ViewModels.Account.RecoveryPasswordViewModel

<h2>Восстановление пароля</h2>
<p>Введите email, указанный при регистрации</p>
<form method="post" asp-route="MvcRecoveryPasswordPost">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>